<div class="drop-down-menu">
    <ul class="drop-down-menu__list">
        <li><a class="drop-down-menu__list__element" href="">Categoria 1</a></li>

        {% include drop-down-submenu.html %}
        <li><a class="drop-down-menu__list__element" href="">Categoria 2</a></li>
        <li><a class="drop-down-menu__list__element" href="">Categoria 3</a></li>
        <li><a class="drop-down-menu__list__element" href="">Categoria 4</a></li>
        <li><a class="drop-down-menu__list__element" href="">Categoria 5</a></li>
    </ul>
</div>