<footer>
    <div class="footer">
        <div class="footer__columns-container">

            <ul class="footer__colums-container__column">
                <li class="footer__columns-container__column__element">
                    <h3 class="footer__columns-container__column__title">Titulo 1</h3>
                </li>
                <li class="footer__columns-container__column__element">
                    <a href="{{site.baseurl}}about.html">Subtitulo 1</a>
                </li>
                <li class="footer__columns-container__column__element">
                    <a href="{{site.baseurl}}category.html">Subtitulo 2</a>
                </li>
                <li class="footer__columns-container__column__element">
                    Subtitulo 3
                </li>
                <li class="footer__columns-container__column__element">
                    Subtitulo 4
                </li>
                <li class="footer__columns-container__column__element--extra">
                    Subtitulo 5
                </li>
                <li class="footer__columns-container__column__element--extra">
                    Subtitulo 6
                </li>
            </ul>


            <ul class="footer__columns-container__column--extra">
                <li class="footer__columns-container__column__element">
                    <h3 class="footer__columns-container__column__title">Titulo 2</h3>
                </li>
                <li class="footer__columns-container__column__element">Subtitulo 1</li>
                <li class="footer__columns-container__column__element">Subtitulo 2</li>
                <li class="footer__columns-container__column__element">Subtitulo 3</li>
            </ul>

            <ul class="footer__columns-container__column--extra">
                <li class="footer__columns-container__column__element">
                    <h3 class="footer__columns-container__column__title">Titulo 3</h3>
                </li>
                <li class="footer__columns-container__column__element">Subtitulo 1</li>
                <li class="footer__columns-container__column__element">Subtitulo 2</li>
                <li class="footer__columns-container__column__element">Subtitulo 3</li>
            </ul>

            <ul class="footer__columns-container__column--extra--hidden">
                <li class="footer__columns-container__column__element">
                    <h3 class="footer__columns-container__column__title">Titulo 4</h3>
                </li>
                <li class="footer__columns-container__column__element">Subtitulo 1</li>
                <li class="footer__columns-container__column__element">Subtitulo 2</li>
                <li class="footer__columns-container__column__element">Subtitulo 3</li>
            </ul>

            <ul class="footer__columns-container__column--extra--hidden">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.441635744131!2d-5.87462373468899!3d37.54465752980203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd125ce603bed70f%3A0xcd0e9d8b39d715f0!2sInstituto%20de%20Educaci%C3%B3n%20Secundaria%20Jacarand%C3%A1!5e0!3m2!1ses!2ses!4v1603707160584!5m2!1ses!2ses"
                    width="400px" height="250px" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </ul>
        </div>


        <iframe class="footer__map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.441635744131!2d-5.87462373468899!3d37.54465752980203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd125ce603bed70f%3A0xcd0e9d8b39d715f0!2sInstituto%20de%20Educaci%C3%B3n%20Secundaria%20Jacarand%C3%A1!5e0!3m2!1ses!2ses!4v1603707160584!5m2!1ses!2ses"
            width="100%" height="100%" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


        <div class="footer__copyright">
            <p class="footer__copyright__text">© 2020 Nexus España</p>
            <div class="footer__copyright__social">
                <img class="footer__copyright__social__icon" src="assets/img/social/facebook.png" alt="" srcset="">
                <img class="footer__copyright__social__icon" src="assets/img/social/instagram.png" alt="" srcset="">
                <img class="footer__copyright__social__icon" src="assets/img/social/twitter.png" alt="" srcset="">
                <img class="footer__copyright__social__icon" src="assets/img/social/youtube.png" alt="" srcset="">
            </div>
        </div>
    </div>
</footer>