<footer>
    <div class="contenedor-columna roboto-light black85 white-text">
        <ul class="columna">
            <li>
                <h3>Titulo 1</h3>
            </li>
            <li><a href="{{site.baseurl}}about.html">Subtitulo 1</a></li>
            <li>Subtitulo 2</li>
            <li>Subtitulo 3</li>

        </ul>


        <ul class="columna">
            <li>
                <h3>Titulo 2</h3>
            </li>
            <li>Subtitulo 1</li>
            <li>Subtitulo 2</li>
            <li>Subtitulo 3</li>
        </ul>

        <ul class="columna">
            <li>
                <h3>Titulo 3</h3>
            </li>
            <li>Subtitulo 1</li>
            <li>Subtitulo 2</li>
            <li>Subtitulo 1</li>
        </ul>
    </div>


    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.441635744131!2d-5.87462373468899!3d37.54465752980203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd125ce603bed70f%3A0xcd0e9d8b39d715f0!2sInstituto%20de%20Educaci%C3%B3n%20Secundaria%20Jacarand%C3%A1!5e0!3m2!1ses!2ses!4v1603707160584!5m2!1ses!2ses"
        width="100%" height="100%" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


    <div class="copyright-rrss black85">
        <p class="copyright">© 2020 Nexus España</p>
        <div class="rrss">
            <img class="rrss-icon" src="/assets/img/social/facebook.png" alt="" srcset="">
            <img class="rrss-icon" src="/assets/img/social/instagram.png" alt="" srcset="">
            <img class="rrss-icon" src="/assets/img/social/twitter.png" alt="" srcset="">
            <img class="rrss-icon" src="/assets/img/social/youtube.png" alt="" srcset="">
        </div>
    </div>
</footer>