<header class="header">
    <div class="header__left">
        <img class="header__menu__img" src="assets/img/header/menu_icon.png" alt="menu_icon">

        <a class="header__logo__img" href="{{site.baseurl}}index.html">
            <img src="assets/img/header/nexus_logo.png" alt="user_icon">
        </a>
    </div>

    <div class="header__right">
        <div class="header__search">
            <input class="header__search__input" type="text" placeholder="Search.." name="search">
            <img class="header__search__icon" src="assets/img/header/lupa_icon.png" alt="search_icon">
        </div>
        <div class="header__menu">
            <a class="header__menu__link" href="{{site.baseurl}}auth.html">
                <img class="header__menu__icon" src="assets/img/header/user_icon.png" alt="user_icon">
            </a>
            <a class="header__menu__link" href="{{site.baseurl}}contact.html">
                <img class="header__menu__icon" src="assets/img/header/telefono_icon.png" alt="user_icon">
            </a>
            <a class="header__menu__link" href="{{site.baseurl}}support.html">
                <img class="header__menu__icon" src="assets/img/header/mail_icon.png" alt="user_icon">
            </a>
            <a class="header__menu__link" href="{{site.baseurl}}index.html">
                <img class="header__menu__icon" src="assets/img/header/exit_icon.png" alt="user_icon">
            </a>
        </div>
    </div>

    {% include drop-down-menu.html %}
</header>