<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../_sass/header.css">
</head>

<body>
    <header>
        <div class="menu">
            <img src="../_photos/menu_icon.png" alt="menu_icon" width="15px" height="15px">
        </div>
        <div class="logo">
            <img src="../_photos/nexus_logo.png" alt="logo_icon" width="70px">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search.." name="search" size="5">
            <img src="../_photos/lupa_icon.png" alt="search_icon" width="15px" height="15px">
            
        </div>
        <div class="icons">
            <img src="../_photos/user_icon.png" alt="user_icon" width="15px">
            <img src="../_photos/telefono_icon.png" alt="telefono_icon" width="15px">
            <img src="../_photos/mail_icon.png" alt="mail_icon" width="15px">
            <img src="../_photos/exit_icon.png" alt="exit_icon" width="15px">
        </div>
    </header>
</body>
</html>