<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexus Spain</title>

    <link rel="stylesheet" href="/assets/styles/clear.css">
    <link rel="stylesheet" href="/_sass/main.css">
    <link rel="stylesheet" href="/assets/styles/default.css">
    <link rel="stylesheet" href="/assets/styles/header.css">
    <link rel="stylesheet" href="/assets/styles/footer.css">
    <link rel="stylesheet" href="/assets/styles/up.css">
    <link rel="stylesheet" href="/assets/styles/desplegable.css">


    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>