<header>
    <div class="contenedor-header" id="header">

        <div class="menu">
            <img src="../assets/img/header/menu_icon.png" alt="menu_icon">
        </div>
        <div class="logo">
            <a href="{{site.baseurl}}index.html"><img src="../assets/img/header/nexus_logo.png" alt="user_icon"></a>
        </div>
        <div class="search-bar">
            <div class="search-bar-bar">
                <input type="text" placeholder="Search.." name="search">
            </div>
            <div class="search-bar-img">
                <img src="../assets/img/header/lupa_icon.png" alt="search_icon">
            </div>

        </div>
        <div class="icons">
            <a href="{{site.baseurl}}login.html"><img src="../assets/img/header/user_icon.png" alt="user_icon"></a>
            <a href="{{site.baseurl}}login.html"><img src="../assets/img/header/telefono_icon.png" alt="user_icon"></a>
            <a href="{{site.baseurl}}login.html"><img src="../assets/img/header/mail_icon.png" alt="user_icon"></a>
            <a href="{{site.baseurl}}login.html"><img src="../assets/img/header/exit_icon.png" alt="user_icon"></a>
        </div>
    </div>

    {% include desplegable.html %}
</header>