.about{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
}

.about img{
    width: 100%;
    opacity: 50%;
}

.texto-about{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: x-large;
    position: absolute;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
}



.texto-about h3{
    margin-bottom: 10%;
}