.category {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.category__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 90%;
    padding: 2%;
    margin-top: 10%;
}

.category__filters__header {
    padding: 0 10% 0 20%;
    margin: 0% 1%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    background-color:#f0f0f0;
    border: 1px solid lightslategrey;
    border-bottom: none;
}

.category__filters__header--closed {
    padding: 0 10% 0 20%;
    margin: 0% 1%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    background-color:#f0f0f0;
    border: 1px solid lightslategrey;
}

.category__filters__header__title {
    text-align: center;
    margin-top: 10px;
    font-size: xx-large;
    margin-left: 30%;
}

.category__filters__header__arrow {
    width: 2.3em;
    height: 2.3em;
}

.category__filters__body {
    width: 100%;
    margin: 0 0;
    background-color: #f0f0f0;
    border: 1px solid lightslategrey;
    border-top: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.category__filters__body--closed {
    display: none;
}

.category__filters__body__list {
    list-style: none;
}
.category__filters__body__final-list {
    margin: 2% 5%;
    list-style: none;
}

.category__filters__body__title {
    margin-top: 10px;
    font-size: larger;
    margin-left: 2%;
}

.category__filters__body__price-input {
    padding: 1%;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 20%
}

.category__filters__body__price-separator {
    margin-left: 5%;
}

.category__filters__body__extra {
    display: none;
}

.category__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category__gallery__product {
    width: 100%;
    height: 100%;
    margin: 3%;
}

.category__gallery__product__image {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .category__gallery__product {
        width: 45%;
        height: 45%;
        margin: 2%;
    }
 }

 @media (min-width: 1366px) {
    .category__gallery__product {
        width: 27%;
        height: 27%;
    }

    .category__filters__body__extra {
        display: block;
    }
    
    .category {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    .category__filters {
        width: 100%;
        padding: 2%;
        margin-top: 0;
    }
    
    .category__filters__header--closed {
        width: 70%;
        background-color:#f0f0f0;
        border: 1px solid lightslategrey;
    }
    .category__filters__header {
        width: 70%;
        background-color:#f0f0f0;
        border: 1px solid lightslategrey;
        border-bottom: none;
    }
    .category__filters__header__title {
        margin-left: 0;
    }
}
