.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.contact__title {
    font-size: 2.5em;
    font-weight: bolder;
}

.contact__phone-mail, .contact__shop {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.contact__phone-mail__title, .contact__shop__title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 5%;
}

.contact__phone-mail__text, .contact__shop__text, .contact__phone-mail__text__link {
    margin-bottom: 2%;
    color: black;
}


@media (min-width: 768px) {
    .contact__title {
        font-size: 3em;
    }
    .contact__phone-mail__title, .contact__shop__title {
        font-size: 2em;
    }
    .contact__phone-mail__text, .contact__shop__text, .contact__phone-mail__text__link {
        font-size: 1.4em;
    }
}