footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.85);
}

.contenedor-columna{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 5% 0;
}

.columna{
    text-align: center;
}

.columna li{
    margin-top: 15%;
    margin-bottom: 15%;
    list-style-type: none;
} 

li h3 {
    font-size: 120%;
    margin-top: 15%;
    margin-bottom: 20%;
    list-style-type: none;
}

.copyright-rrss{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.copyright{
  margin-left: 1%;
  align-content: center;
  display: flex;
  align-self: center;
  color: #6D6D6D;
  font-size: small;
}

.rrss-icon {
  width: 7%;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.rrss{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  margin-right: 1%;
}

.rrss img {
  margin: 3%;

}