.contenedor-columna{
    display: flex;
    justify-content: space-around;
}

.columna{
    text-align: center;
}

.columna li{
    margin-top: 15%;
    margin-bottom: 15%;
    list-style-type: none;
}
.columna h3{
    font-size: 120%;
    margin-top: 15%;
    margin-bottom: 20%;
    list-style-type: none;
}

.copyright-rrss{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.copyright{
  margin-left: 1%;
  align-content: center;
  display: flex;
  align-self: center;
}

.copyright p{
  color: #6D6D6D;
  font-size: small;
}


.rrss{
  display: flex;
  width: 30%;
  margin-right: 1%;
}
.rrss img{
  margin: 5%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}