
.footer {
  
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: justify start;
  background-color: rgba(0, 0, 0, 0.85);
}

.footer__columns-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
.footer__colums-container__column {
  margin: 2%;
  text-align: center;
}
.footer__columns-container__column--extra {
  display: none;
}

.footer__columns-container__column__element,
.footer__columns-container__column__element--extra {
  color: white;
  font-size: 1.2em;
  margin-top: 5%;
  margin-bottom: 5%;
  list-style: none;
  text-emphasis: none;
  text-decoration: none;
} 

.footer__columns-container__column__title {
    font-size: 1.7em;
    margin-top: 8%;
    margin-bottom: 10%;
    text-decoration: underline;
}



@media screen and (min-width: 768px) and (orientation: landscape) {
  .footer__columns-container__column--extra {
    display: block;
    margin: 2%;
    text-align: center;
  } 

  .footer__columns-container__column__element--extra {
    display: none;
  }
}


.footer__copyright {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 1% 0;
}

.footer__copyright__text {
  margin-left: 3%;
  align-content: center;
  display: flex;
  align-self: center;
  color: white;
  font-size: 100%;
}

.footer__copyright__social {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: fit-content;
  margin-right: 1%;
}

.footer__copyright__social__icon {
  width: 14%;
  height: 14%;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}