.header {
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 1%;

    display: flex;
    flex-flow: row nowrap;
    background-color: white;

    justify-content: space-between;
    align-items: center;
 }

.header__left {
   display: flex;
   flex-flow: row nowrap;

   justify-content: center;
   align-items: center;
   width:  49%;
}

.header__button{
    width: 15%;
}

.header__button__menu-img {
    width: 80%;
}

.header__logo-link{
    width: 100%;
}

.header__logo-link__img {
    margin-left: 5%;
    width: 50%;
}


.header__right{
    display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   width:  49%;
} 

.header__search{
    display: flex;
   flex-flow: row nowrap;

   justify-content: center;
   align-items: center;
   width: 100%;

   background-color: #f0f0f0;
   border-radius: 1em;
    margin-right: 5%;
}

.header__search__input{
    padding: 2%;
    background-color: transparent;
    border: none;
    width: 100%;
}

.header__search__icon{
    padding: 2%;
    width: 15%;
}

.header__menu{
    display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.header__menu__link{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.header__menu__icon{
    width: 100%;
}

@media (min-width: 1366px) {
}
