.contenedor-header{
    display: flex;
    justify-content: space-between;
    height: 1.7em;
}

.menu{
    width: 35%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    
}
.menu img{
    align-self: center;
    width: 100%;
    height: 60%;
}


.logo{
    width: 150%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: 4%;
}

.logo img{
    align-self: center;
    width: 100%;
    height: 60%;    
}

.search-bar{
    display: flex;
    width: 150%;
    margin-left: 10%;
}
.search-bar input{
    width: 100%;
    height: 60%;
    align-self: center;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
}
.search-bar img{
    width: 25%;
    height: 60%;
    align-self: center;
}

.icons{
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    width: 150%;
}
.icons img{
    align-self: center;
    width: 20%;
    height: 80%;
} 