.contenedor-header{
    display: flex;
    background-color: rgba(144, 238, 144, 0.822);
    height: 3em;
}

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: lightsalmon;
}
.menu img{
    width: 100%;
}


.logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color:lightseagreen;

}

.logo img{
    width: 100%;    
}
/* 
.search-bar{
    background-color: magenta;
    margin-left: 20%;
    display: flex;
    width: ;
}
.search-bar input{
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
}
.search-bar img{
    width: 100%;
}

.icons{
    background-color: maroon;
    margin-left: 20%;
    margin-right: 0%;
}
.icons img{
    width: 15%;
} */