.index {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.index__slideshow {
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    width: 100%;
    object-fit: fill;
}

.index__slideshow__buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.index__slideshow__buttons__button {
    cursor: pointer;
    background-color: transparent;
    padding: 2% 1%;
    margin: 4%;
    width: 30%;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    transition-duration: 0.4s;
    outline: none;
}

.index__slideshow__buttons__button:hover, .index__slideshow__buttons__button:active {
    background-color: white;
    color: black;
    border: 2px solid white; 
}

.index__slideshow__img {
    width: 100%;
    height: auto;
}

.index__slideshow__img--hidden {
    display: none;
}

.index__slideshow__arrows {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    fill: white;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.index__slideshow__arrows__arrow {
    width: 8%;
    height: 8%;
    cursor: pointer;

}

.index__slider {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 3%;
    width: 100%;
}

.index__slider__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
.index__slider__container__image {
    width: 95%;
    border: 1px solid black;
    border-radius: 1px;
}

.index__slider__container__button {
    border: 2px solid black;
    border-radius: 2px;
    width: 90%;
    margin-top: 3%;
    padding: 2%;
    font-size: large;
    text-align: center;
}


.index__gallery {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index__gallery__full-size {
    width: 100%;
    position: relative;
}

.index__gallery__full-size__image {
    width: 100%;
    height: auto;
}

.index__gallery__medium-size {
    width: 49.7%;
    height: fit-content;
    position: relative;

}

.index__gallery__medium-size__image {
    width: 100%;
    height: auto;
}

.index__gallery__text {
    position: absolute;
    bottom: 1%;
    left: 0;
    z-index: 1;
    color: white;
    font-size: large;
    margin: 3%;
    padding: 2%;
    border: 2px solid white;
    border-radius: 2px;
}

.index__gallery__text:hover, .index__gallery__text:active {
    color: black;
    background-color: white;
}


.index__contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.index__contact__option {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin: 3%;
}

.index__contact__option__image {
    width: 75%;
    height: 70%;
}
.index__contact__option__text {
    font-size: larger;
    font-weight: bold;
    margin-top: 10%;
    text-align: center;
}

.index__banner {
    position: relative;
    width: 100%;
}

.index__banner__image {
    width: 100%;
    height: auto;
}

.index__banner__text {
    position: absolute;
    top: 0;
    font-size: larger;
    color: white;
    padding: 3%;
}
.index__banner__button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    margin: 3%;
    height: 2.5em;
    color: white;
    border: 1px solid white;
    background-color: rgba(0,0,0,0);
}

.index__banner__button:hover, .index__banner__button:active {
    color: black;
    border: 1px solid white;
    background-color: white;
}


.index__adds {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3% 0;
}

.index__adds__image {
    width: 97%;
    height: auto;
}

.index__adds__text {
    text-align: center;
    font-size: larger;
    color: black;
    padding: 3%;
}