.containerlogin {
    display: flex;
    border-radius: 10px;
    background-color: white;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.login {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    padding: 5%;
    border-right: 1px solid black;
}
.botoneslogin{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
/* Botones*/
.login button {
    width: 45%;
    border: none;
    border-radius: 3px;
    background-color: lightgray;
    padding: 6px;
    cursor: pointer;
}

.login button:hover {
    border-radius: 3px;
    background-color: darkgray;
}
.login input {
    padding: 2px;
    background: rgb(202, 202, 202);
    border-radius: 91px;
    border: none;
}