
.support{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.support *{
    margin-bottom: 5%;
}

/* Botones*/
.support button {
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #f0f0f0;
    padding: 6px;
    cursor: pointer;
}

.support input {
    padding: 2px;
    background: #f0f0f0;
    border-radius: 91px;
    border: none;
}

.support textarea {
    padding: 2px;
    background: #f0f0f0;
    border-radius: 5px;
    border: none;
}