
.support{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.support *{
    margin-bottom: 5%;
}

/* Botones*/
.support button {
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: lightgray;
    padding: 6px;
    cursor: pointer;
}

.support button:hover {
    border-radius: 3px;
    background-color: darkgray;
}
.support input {
    padding: 2px;
    background: rgb(202, 202, 202);
    border-radius: 91px;
    border: none;
}

.support textarea {
    padding: 2px;
    background: rgb(202, 202, 202);
    border-radius: 5px;
    border: none;
}